@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ClashDisplay-Regular";
    src: url("./assets/fonts/ClashDisplay-Regular.woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "ClashDisplay-Medium";
    src: url("./assets/fonts/ClashDisplay-Medium.woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "ClashDisplay-Bold";
    src: url("./assets/fonts/ClashDisplay-Bold.woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
